@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import '../node_modules/bootstrap/scss/bootstrap.scss'

// pout tout de body
h1 
    font-family: 'Courgette', cursive 

// my header
header 
    background-image: url("../images/banner1.jpg")
    height: 600px
    width: 100%
    background-size: cover
    
nav a
    color: #fff 
    text-transform: uppercase 
    font-size: 15px  
section 
    background-color: rgba(0,0,0, 0.8)
    height: 600px
    width: 100%
.t-grand 
    font-size: 55px   